[2014-08-26 04:39] marnorth opened #2 "EasyPost API errors"
Receiving data related errors (address errors) and environment errors via the EasyPostException. How can we tell the difference between data related errors from environmental errors?
There is a verifyAddress object getMessage that returns null when successful. Can all data related errors be returned via the verifyAddress.getMessage()?
When coding an interface, it simplifies the coding if we provid

[2014-10-02 04:03] mbeale opened #3 "Add residential to Address Object"

[2014-10-07 20:33] #3 closed, assigned to nobody

[2014-10-07 20:35] #2 closed, assigned to nobody

[2014-10-07 21:24] jmalatia opened #4 "Parcel.cs"
According to API docs, parcel length, width, height and weight should be double.  Current code shows just the weight as double and length, width and height as integers.  Length, width and height should be changed to double.

[code]

Also, what was the reasoning for removing the enums for (e.g. predefined_package) in the latest build?

[2014-10-14 17:52] att14 opened #5 "Add Pickup support"

[2014-10-14 17:54] att14 opened #6 "Add Order support"

[2014-10-16 17:37] #4 closed, assigned to nobody

[2014-10-21 19:23] #5 closed, assigned to nobody

[2014-11-09 16:09] dmcclean opened #9 "Accessing request/response json for logging"
It would be nice to have access to the request and response JSON for logging purposes.

I'm not sure exactly how to go about that in a simple way from the existing design, though, since the methods all create the requests, pass them to client, and interpret the responses. You'd sort of need to CQRS-ify it so that there are variants of the methods that just create the response and return it, leavin

[2014-11-12 14:11] jmalatia opened #10 "Easypost.Shipment.options"
Is there a reason why Shipment.options doesn't have a class model?  Can one be added?

[2014-11-13 18:05] jmalatia opened #11 "Easypost.Batch.AddShipments not working properly"
The below doesn't seem to work... it's not enumerating the list correctly as there is only 1 shipment returned in the batch and it is always the last shipment is the list.

[code]

The only way to get it to work is to call AddShipments multiple times with a single shipment in each call... this works and creates 2 shipments in the batch.

[code]

[2014-11-14 01:13] #11 closed, assigned to nobody

[2014-11-14 18:30] mbeale opened #12 "Add Events to library"
Need a way to handle Events including the ability to load from the JSON sent by EasyPost

[2014-12-08 18:51] mxmissile opened #15 "WIP?"
I'm assuming this project is a WIP correct? Or am I missing something, the code in the ReadMe does not compile as is. If so are you taking pull requests?

[2014-12-08 19:45] #15 closed, assigned to nobody

[2015-01-27 13:55] tig4647 opened #18 "Address CreateandVerify requires param"
When attempting to send in an object of Address to CreateAndVerify, service returns street missing. This only occurs when I only send in the AddressObject, if I send in the parameters as a dictionary the return is correct.

[2015-01-27 17:12] tig4647 opened #19 "Tracker is missing many elements"
Within the tracker return there are many missing objects. For example: Tracking_Location, est_delivery_date,signed_by and others. Am I missing something obvious here?

[2015-01-28 19:53] att14 commented on #18
`CreateAndVerify` is a static method. Calling it from the context of an instance doesn't make sense. If you would like to use `CreateAndVerify` you must pass a `Dictionary` to be created then verified. If you have an instance of an `Address` that has not been created, you can just use `Create`, then `Verify`.

[2015-01-28 19:54] att14 commented on #19
Will release a new version later today. I'll update this when that happens.

[2015-01-28 19:55] tig4647 commented on #19
I just finished adding the classes. Guess I should have waited.
Thank you!

[2015-01-28 19:57] att14 commented on #18
I am going to close this because I don't see any action item. If you still have questions feel free to reopen.

[2015-01-28 19:57] #18 closed

[2015-01-28 19:57] tig4647 commented on #18
I hadnt noticed it was static. I guess my point was it is typically better to have strong naming as opposed to dictionary. May I suggest changing CreateAndVerify?

[2015-01-28 20:00] att14 commented on #18
I'm not sure what you mean by strong naming. You can think of `CreateAndVerify` as an alternate constructor.

[2015-01-28 20:01] att14 commented on #19
If you've modified your own library, feel free to submit a pull request.

[2015-01-29 01:32] att14 commented on #10
I was going to do this, but then I realized that we are constantly adding options and I don't want this library to get too far out of sync or for people to be required to update their client if they want the new features. Going to leave this as a `Dictionary`. Sorry about that. You can see a list of options [here](https://www.easypost.com/docs/api#shipping-options).

[2015-01-29 01:32] #10 closed

[2015-01-29 01:51] att14 commented on #19
Released versions 1.1.4.1

[2015-01-29 01:51] #19 closed

[2015-02-04 16:18] tig4647 opened #21 "Carrier Is missing in tracker"
Carrier is missing in tracker object. It is listed in the docs but not in the SDK. Also the API states est_delivery_date and in the SDK it is est_delivery_days, which seems to result in nothing on every call

[2015-02-06 22:00] att14 commented on #21
Right on, thanks for the report. Version 1.1.4.4 released.

[2015-02-06 22:00] #21 closed

[2015-02-11 20:27] mbeale opened #22 "Add support for shipment.forms"

[2015-03-17 17:20] mbeale opened #25 "add support for retail_rates"
Need to add retail_rates in rate object

[2015-03-23 20:24] nozzlegear opened #26 "Cannot use shipment.Create with a predefined package"
Maybe I've missed something, but right now the EasyPost API is returning an error when I try to call .Create() on an instance of a Shipment like so:

[code]

The error returned says "*Validation failed: Length is required when dimensions are supplied with parcel, Width is required when dimensions are supplied with parcel, Height is required when dimensions are supplied with parcel*".

It's being r

[2015-04-03 03:00] #22 closed

[2015-05-13 19:16] jmalatia opened #30 "Allow apiBase to be set from code"
Allow `apiBase` to be set from code.

[2015-05-13 19:18] att14 commented on #30
Done. Version 1.1.5.1

[2015-05-13 19:18] #30 closed

[2015-05-13 19:19] att14 commented on #30
Set it like you set `Client.apiKey`. `Client.apiBase = "foobar.com"`

[2015-06-23 06:06] #6 closed

[2015-07-13 18:02] issovuong opened #32 "Enable Sourcegraph"
I want to use [Sourcegraph](https://sourcegraph.com) for easypost-csharp code search, browsing, and usage examples. Can an admin enable Sourcegraph for this repository? Just go to https://sourcegraph.com/github.com/EasyPost/easypost-csharp. (It should only take 30 seconds.)

Thank you!

[2015-07-13 18:38] att14 commented on #32
Sorry, C# is not supported with Sourcegraph.

[2015-07-13 18:38] #32 closed

[2015-09-24 20:28] tig4647 commented on #25
Thanks for adding this!

[2015-09-24 20:38] #25 closed

[2015-09-24 20:38] att14 commented on #26
This is fixed in version 1.2.0.0

[2015-09-24 20:38] #26 closed

[2016-02-16 18:34] sjw7444 opened #39 "Should User class be public?"
Based upon your API documentation:
https://www.easypost.com/docs/api/c-sharp#users

It appears that the User class should be public so that one can retrieve the balance etc.  Currently it is "inaccessible due to protection level" in this code:

var me = EasyPost.User.Retrieve();

[2016-02-19 00:53] att14 commented on #39
Thanks for reporting. Just released 2.0.2.1 with the fix.

[2016-02-19 00:53] #39 closed

[2016-02-22 15:37] tig4647 opened #40 "Date Created/updated returns nothing"
Prior to this recent update when an address was  created " date created" and "date updated" returns a date. Now they return nothing and it was not obvious that this became nullable.

[2016-02-22 15:38] tig4647 commented on #40
My bad, didnt notice it was nulalble. Was getting data before.

[2016-02-22 15:38] #40 closed

[2016-02-22 19:38] att14 commented on #40
Sorry, we we not returning this data correctly. We have fixed the issue. Thanks for reporting.

[2016-03-04 23:58] jcmurphy opened #41 "NuGet install error - File contains corrupted data"
I am unable to install via NuGet.  The Package Manager Console gives this error:
[code]
Do you have any ideas or documentation on a manual install?  Thanks.

[2016-03-06 16:22] jcmurphy commented on #41
Never mind, the problem was on my end.  I needed to update NuGet Package Manager on my machine.

[2016-03-06 16:22] #41 closed

[2016-07-09 20:05] swrhim opened #44 "Should Shipment.Create accept an IDictionary<string,obj> parameters?"
In the Create and ShipmentList methods here: https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost/Shipment.cs

why do they accept Dictionary instead of IDictionary? It seems like the rest of the methods in the class try to be more generic by accepting generic types as parameters, such as IEnumerables. Is there a particular reason? I think at some point in the past, it was IDictionary.

[2016-07-11 17:13] att14 commented on #44
I'm not sure if it was ever `IDictionary`, but if you can change it to `IDictionary` with no problems I'd be happy to merge it in.

[2016-07-12 09:46] #12 closed

[2016-07-15 06:32] att14 opened #45 "Event.Resource should return the actual resource type"

[2016-07-15 18:22] att14 opened #46 "Order.options should either be removed or use Options object"

[2016-07-22 00:31] bosh opened #47 "Add Insurance top level object"
The `Insurance` object doesn't exist in this library and should be added.

[2016-08-11 06:37] NVentimiglia opened #48 "Price Estimations"
Does easy post support price estimations ? It would be nice to know how much a transaction will cost before executing the transaction. If so, how ?

[2016-08-11 16:42] #48 closed

[2016-08-11 17:16] NVentimiglia opened #49 "Support for Latest C# and Asp.Net (DotNetCore)"
Currently, this package does not work with the most current version of DotNet and C#. DotNetCore, the latest version of C# and Asp.Net has been out for over a month. Please support it.

[2016-08-16 05:28] #46 closed

[2016-08-26 06:13] att14 commented on #49
I've been meaning to make a few changes to the structure of the repository and this will fit into that. Will you be using the library for commercial purposes?

[2016-08-26 14:45] warpspeed9 commented on #49
Andrew,

At this point, we are only using the tool we built for our internal customers and not for commercial use. I had switched the program to use the dll library, however, upon having issues at one of our locations with troubleshooting call issues, I’ve since reverted back to using the classes and not referencing the dll.

Thanks!

Mike Billiet

(c) 712.490.2881

From: Andrew Tribone [mailto:no

[2016-09-24 14:35] elarrieux opened #50 "RestSharp and Newtonsoft JSON references"
I already have those packages installed in their latest version (105.2.3 and 9.0.1) , but after adding EasyPost package to my project, they get overwritten by EasyPosts older own dll versions.

[2016-09-24 14:44] elarrieux commented on #50
The problem lays with this commit: https://github.com/EasyPost/easypost-csharp/commit/468a16de369b9cc4eca53de60ab4f7e254631b96

[2016-09-27 00:56] att14 commented on #50
There are issues with both of these libraries SNKs in the latest versions. When adding a SNK to EasyPost I had to downgrade the libraries.

RestSharp actual becomes a new library called RestSharpSigned. Which is maintained separately.

I'm not sure if the issues were fixed, but I can look and see if the issues were resolved.

[2016-10-12 14:16] eswarvemuri opened #51 "Question regarding the Easy Post API"
I was testing out your API. I downloaded the DLL from Nuget Package.

There is some sample code given there.
I tried out the code that gets me Rates for a shipment.
However, I do not see anywhere where there is a call made to the Easy Post Web Service. I think due to this, I am getting Object Reference not set to an instance of object error at the code highlighted in bold.
  foreach (Rate rate in

[2016-10-12 16:22] olsonkr commented on #50
Any updates and a resolution for this issue?

[2016-10-12 21:46] att14 commented on #51
Looks like there is a missing `Shipment.Create` call. I'll update the docs accordingly.

[2016-10-12 21:46] #51 closed

[2016-10-13 20:25] eswarvemuri commented on #51
Thanks. It is working now. I figured that after I posted the question.

I want to ask you another question.

I want to add Carrier information in the Code behind file (.cs) of my C# page.

I went to the Easy Post Portal -> Carrier Accounts and added UPS account and I am able to see UPS rates in my API Call.

However, I do not want to add the Carrier Accounts in Easy Post Portal. I would want to ad

[2016-10-13 21:07] att14 commented on #51
Yup! We have the ability to do this and it is documented here: https://www.easypost.com/docs/api/c-sharp.html#create-a-carrier-account.

[2016-10-14 12:54] eswarvemuri commented on #51
Hi,
The link does not work. Can you please check it?

[2016-10-14 18:50] eswarvemuri commented on #51
Hi Andrew,
Here is the link that is broken.

https://www.easypost.com/docs/api/c-sharp.html#create-a-carrier-account

Thanks,
Eswar

From: Andrew Tribone [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 5:07 PM
To: EasyPost/easypost-csharp <easypost-csharp@noreply.github.com>
Cc: Eswar Vemuri <eswar@closerschoice.com>; Author <author@noreply.github.com>
Subject: Re: [EasyPost/eas

[2016-10-14 19:12] eswarvemuri commented on #51
Hi Andrew,
I am getting an error at the line CarrierAccount.Create();

The error is –

Severity

Code

Description

Project

File

Line

Error

CS7036

There is no argument given that corresponds to the required formal parameter 'parameters' of 'CarrierAccount.Create(Dictionary<string, object>)'

TestWebApp

C:\Users\Eswar\Documents\Visual Studio 2015\Projects\TestWebApp\TestWebApp\EasyPost.aspx.c

[2016-10-14 20:38] att14 commented on #51
Sorry about that. Here is the working link: https://www.easypost.com/docs/api/csharp.html#carrier-accounts-create-codesample

[2016-10-14 20:43] eswarvemuri commented on #51
Hi Andrew it is pointing to the same code that I saw before.

The issue is with the method ca.Create();  It is the last line in the Create CarrierAccount Example.

From: Andrew Tribone [mailto:notifications@github.com]
Sent: Friday, October 14, 2016 4:39 PM
To: EasyPost/easypost-csharp <easypost-csharp@noreply.github.com>
Cc: Eswar Vemuri <eswar@closerschoice.com>; Author <author@noreply.github.co

[2016-10-15 00:56] att14 commented on #51
Ah, you are right. Looks like that documentation is wrong. I will update it. You can look at the tests in this library for the correct usage: https://github.com/EasyPost/easypost-csharp/blob/master/EasyPostTest/CarrierAccountTest.cs

[2016-10-17 14:01] eswarvemuri commented on #51
Hi,
I have my code modeled according to the link you sent me.

   Dictionary<string, object> credentials = new Dictionary<string, object>() {
  {"account_number", "AccntNo"},
  {"user_id", "UserId"},
  {"password", "Pwd"}

};

            CarrierAccount account = CarrierAccount.Create(new Dictionary<string, object>() {
                {"type", "UPS Account"},
                {"description", "descr

[2016-10-17 15:48] eswarvemuri commented on #51
Hi Andrew,
We will ask our Users to create the Carrier Accounts on Easypost Portal. So please ignore my previous Email.

The question I have is, is there a way I can get the Type of Service (Fedex Ground/Priority 2 day, Fedex International etc) when I get the Rates from the Easy Post API? We want to show our users the options(Type of Service) they have when they select a carrier.

Thanks,
Eswar

F

[2016-10-17 15:59] eswarvemuri commented on #51
Adding to my Previous Email what I meant to ask was, For USPS, I can see that in the Rates ,The Service is – “Express” and Delivery Days –“1”. But I do not see where it says “Priority Mail”. Can you let me know where I can get that info?

Thanks,
Eswar

From: Andrew Tribone [mailto:notifications@github.com]
Sent: Friday, October 14, 2016 8:57 PM
To: EasyPost/easypost-csharp <easypost-csharp@norepl

[2016-10-17 18:40] att14 commented on #51
Each `Rate` has a `service` attribute that will correspond to the carriers service levels. You can also see a full list here: https://www.easypost.com/service-levels-and-parcels.html.

[2016-10-17 19:02] att14 commented on #50
Since, RestSharp does not provide a signed version, and the signed version is imported with the same name, it causes issues with which RestSharp version gets used. It looks like I'll need to make a new project for the signed version of this library and revert the newest version.

[2016-10-17 19:05] eswarvemuri commented on #51
Thanks Andrew. Is there a way to get a list of Service Types without generating the Rates.

I want to show my users the available Service Types before they can select and see the rates.

Also, my program would not know the Weight of the package until User enters it on our website. Does your API have a method that gives us the list of Service Types based on the Carrier selected?

Thanks,
Eswar

Fro

[2016-10-17 19:21] att14 commented on #51
It isn't possible to get a list of service types without weight. If you only want to show service types, just iterate over `Shipment.rates` and grab `Rate.service` from each one.

[2016-10-24 23:14] JasonTowner opened #53 "Add `async` to the http requests"

[2016-10-25 01:07] att14 commented on #53
See #42. Some work needs to be done to port to other .Net versions, but if you only need 4.5 you can use that branch.

[2016-10-25 18:24] eswarvemuri commented on #51
Hi Andrew,
Another Quick question. Is it possible to get a list of Predefined Packages for Fedex/UPS/USPS from your API?

If so, is it possible to get the dimensions of the Predefined Package too?

We want to show our users a list of Predefined Packages. That way, we do not have to pass the dimensions of the package(which our users may not know) to EasyPost API.

Please let me know.

Thanks,
Eswar

[2016-10-28 06:47] joellegh opened #54 "Get Rates with FedEx"

[2016-10-28 07:54] #54 closed

[2016-10-28 18:31] JasonTowner commented on #53
Thanks 👍

[2016-10-28 18:31] #53 closed

[2016-10-30 18:55] att14 commented on #51
There isn't a way to do this programmatically currently. We have adding support for this in the backlog, but it isn't prioritized. There is a full list on our website: https://www.easypost.com/service-levels-and-parcels.html

[2016-11-02 21:38] att14 opened #55 "Add Tracker.public_url"

[2016-11-02 21:39] att14 opened #56 "Change Batch.shipments to List<BatchShipment>"
Also, add `BatchShipment.id` and `BatchShipment.tracking_code`.

[2016-11-23 19:29] black-orchid opened #57 "Null client could throw a more informative exception"
Currently, if you try to create an Order without initializing the client, you get a null pointer on ClientManager.cs line 11. It would be nice if this threw a "No EasyPost Client Configured" message or similar.

[2016-11-28 21:33] black-orchid opened #58 "Add Tracker.carrier_detail"
This info would be really helpful!

[2016-11-28 21:34] black-orchid commented on #55
+1 for this one, I would love to have this.

[2016-12-01 21:42] black-orchid opened #59 "Add ScanForm.batch_id"
This would be really helpful for associating the scan_form.updated event with the parent batch.

[2016-12-01 23:25] black-orchid opened #60 "Event.result does not parse into a ScanForm correctly using LoadFromDictionary"
Perhaps because Event.result in this case mostly has String[] as values instead of strings.

[2016-12-07 02:11] att14 opened #62 "Add Report class"

[2016-12-07 02:12] att14 opened #63 "Add ScanForm.Create and ScanForm.Retrieve"

[2016-12-07 19:03] att14 commented on #60
I am not able to reproduce this. Can you please provide a failing test?

[2016-12-07 19:13] #55 closed

[2016-12-07 19:13] #56 closed

[2016-12-07 19:13] #57 closed

[2016-12-07 19:13] #58 closed

[2016-12-07 19:13] #59 closed

[2016-12-07 20:44] black-orchid commented on #60
I noticed after I posted that this is intermittent and can also occur when Event.result is supposed to be a Batch. I'll try to find a pattern.

[2016-12-07 20:46] black-orchid commented on #60
In case anyone else runs into it, I'm working around it by getting the id of the object from the dictionary directly and then making a separate Retrieve API call to get the populated object.

[2016-12-08 00:11] mwaldt opened #64 "Add carrier_notification_email to Options"

[2016-12-08 17:53] mwaldt commented on #64
https://github.com/EasyPost/easypost-csharp/pull/65

[2016-12-15 18:22] #64 closed

[2016-12-15 18:23] #62 closed

[2016-12-30 20:47] ZubyH commented on #50
Any movement on this?

[2016-12-31 17:28] att14 commented on #50
I upgraded to the latest versions of both libraries in the newest release. Are you still having issues?

[2016-12-31 18:31] ZubyH commented on #50
I'm still seeing the issue after upgrading to the latest version of both.
There still seems to be a hard coded reference looking for version 100.0.0
of RestSharp

Regards,
Zubair

On 31 December 2016 at 17:28:28, Andrew Tribone (notifications@github.com)
wrote:

[2017-01-02 03:49] kendallb opened #66 "No Async support?"
This library currently does not have any support for Async network calls? I might modify the code for the library to make it async myself, but I am curious why async support was not added from the start?

[2017-01-02 18:48] att14 commented on #66
See #42

[2017-01-02 18:48] #66 closed

[2017-01-04 03:29] kendallb commented on #66
My new Async library is now complete and I have it as a fork on Github here:

https://github.com/kendallb/easypost-async-csharp

Note that I renamed the project since the changes are quite vast. I re-implemented all the API functions to hang off a single EasyPostClient with a corresponding IEasyPostClient interface so everything is instance based only. This allows me to properly mock all the EasyP

[2017-01-21 00:43] black-orchid commented on #50
In case anyone runs into this problem: I solved it by editing my .csproj file directly. Find this entry:
<Reference Include="RestSharp, Version=100.0.0 Culture=neutral, processorArchitecture=MSIL">
      <HintPath>..packages\RestSharp.105.2.3\lib\net452\RestSharp.dll</HintPath>
  </Reference>

Replace the Version number with 105.2.3 or whatever you're actually using.

[2017-01-21 01:55] black-orchid commented on #50
OK, here was my final (I hope) fix to this problem:

1. Cloned the EasyPost-csharp repo and added the EasyPost.Net40 project to my Visual Studio solution.
2. Edited the build configuration to disable signing.
3. Use the Nuget package manager to uninstall RestSharpSigned from the EasyPost project and then install RestSharp.
4. Delete my website's /bin directory and also packages/EasyPost in my solu

[2017-01-24 05:39] #63 closed

[2017-01-24 14:00] Giorgio-Montagnoli opened #67 "Error for "Create Shipment" Method"
Hi,

at this url
https://www.easypost.com/docs/api/csharp.html#shipments-create-codesample
I find a C# sample that I have implemented in this way
[code]
But I've got this error
[code]
You should be able to fix it, here
https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost/Request.cs#L106
if I read the error correctly.

Can you please provide us a feedback?

[2017-01-25 09:38] Giorgio-Montagnoli commented on #67
I made a pull request to try to fix this error here #68

[2017-01-25 09:50] Giorgio-Montagnoli commented on #67
I made another pull for another error

Fix the "Validation failed: Weight is not a number" error
"When you are not in US (we are in Italy) you got this error if you use a number with decimal values.
I could fix setting the Thread Culture in my program, but should be better to force it in your code, cause the data you sent is always in "en-US" format."

[2017-02-02 00:07] tossthekitty opened #69 "Where is EasyPost.pfx?"
It's not in the package.

How do I get around this?

[2017-02-07 02:22] mwaldt commented on #69
It is a private key used to sign the application. Here is how to develop without it:
Once you have downloaded the repository navigate to the following lines of code and set the value to false:
https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost.Net35/EasyPost.Net35.csproj#L34

https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost.Net40/EasyPost.Net40.csproj#L34

[2017-02-07 02:22] #69 closed

[2017-02-13 05:39] wilbarclay commented on #50
Having the same issue with Easy Post referencing Json.Net 6.0.2 where I have version 8.

`Could not load file or assembly 'Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`

Installing EasyPost from Nuget does not seem

[2017-02-15 01:24] ryn0 opened #70 "Could not load file or assembly 'RestSharp, Version=100.0.0.0..."
When trying to use this package, getting the error: "Could not load file or assembly 'RestSharp, Version=100.0.0.0, Culture=neutral, PublicKeyToken=598062e77f915f75' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)"

[2017-02-16 16:45] att14 commented on #70
See #50

[2017-02-16 16:45] #70 closed

[2017-02-22 08:06] santisweb commented on #50
Any updates on this issue? I'm getting a RestSharp reference issue: Could not load file or assembly 'RestSharp, Version=100.0.0.0, Culture=neutral, PublicKeyToken=598062e77f915f75' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040) any help will be appreciated. Thanks.

[2017-02-22 13:29] black-orchid commented on #50
My hacky fix is still working, let me know if you need any help trying it.

[2017-02-22 13:53] santisweb commented on #50
Yes please

Thank you!

Sent from my iPhone

[2017-02-22 14:12] black-orchid commented on #50
See my post from Jan 20th and let me know where you're stuck. :)

[2017-02-22 16:18] santisweb commented on #50
@black-orchid It worked! thank you. Now my only concern is keeping up with updates. how do you manage that?

[2017-02-22 16:46] black-orchid commented on #50
I'm sure you could probably fork the repo and then merge their changes into your branch on demand, but I haven't gotten around to it yet. :)

[2017-02-22 23:17] delapohl opened #73 "Shipment.Create() error when TLS 1.0 is disabled"
When we disable TLS 1.0 on our server, we get the following error when calling Shipment.Create():

[code]

Is there a dependency on TLS 1.0? We have no issues with it enabled.

[2017-02-22 23:29] Roguelazer commented on #73
We support some TLS 1.0 clients (although it depends on your specific cipher suite configuration), and fully-support (and highly recommend) TLS 1.2. We do not support SSLv3 or older at all.

[2017-02-22 23:47] delapohl commented on #73
Thanks for the quick response. To clarify, we do have TLS 1.0, 1.1 and 1.2 enabled (and SSL 2 and 3 disabled). We consistently get the above-captioned error if we disable TLS 1.0, leaving only TLS 1.1 and 1.2 enabled.

[2017-02-22 23:52] Roguelazer commented on #73
What specific platform? Are you using GPO's or equivalent to change the cipher suite list?

[2017-02-23 00:12] Roguelazer commented on #73
In particular, if your platform advertises TLS 1.2 with an ECDSA-compatible ECC Extension option but has all ECDSA-based cipher suites disabled, you can fail handshakes (since we'll offer you an ECDSA certificate, but we won't be able to negotiate a compatible cipher suite). This isn't technically a violation of the relevant RFC (4492), but it's sufficiently odd that it causes problems with most E

[2017-02-23 00:14] delapohl commented on #73
We're on a Windows Server 2012 instance on GCP. We're using IIS Crypto to modify our registry to disable TLS 1.0, leaving the following:

# TLS 1.2 (suites in server-preferred order)
TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384 (0xc028)   ECDH secp256r1 (eq. 3072 bits RSA)   FS	256
TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256 (0xc027)   ECDH secp256r1 (eq. 3072 bits RSA)   FS	128
TLS_ECDHE_RSA_WITH_AES_256_CBC_

[2017-02-23 00:26] Roguelazer commented on #73
You'll note that your servers do support ECC cryptography (e.g., ECDHE for key distribution), but that all ECDSA cipher suites are disabled. `Schannel.dll` has shipped with working and default-enabled ECDSA support since Windows Server 2008/Vista ([ref](https://msdn.microsoft.com/en-us/library/ff468651.aspx)).

What are the values in the registry under `HKLM SYSTEM\CurrentControlSet\Control\Securi

[2017-02-23 02:26] delapohl commented on #73
Hm, `HKLM SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\CipherSuites` is empty.

[2017-02-25 14:50] MartyIce opened #75 "EasyPost operations seem to revert System.Net.ServicePointManager.SecurityProtocol to Tls"
We are operating a site that has some integrations that require Tls12, and recently noticed that after invoking a call using easypost-csharp (for example, "address.Create"), our system's SecurityProtocol had been downgraded to Tls.  Looking at your code, I see the following in security.cs:

[code]

I couldn't find where this NET45 precompiler flag was getting set, but the version we're using seems

[2017-02-27 03:03] att14 commented on #75
The `NET45` precompiler flag is set automatically. Can you verify what the return is of `EasyPost.Security.GetProtocol`?

[2017-03-03 15:13] MartyIce commented on #75
It returns "Tls":

![image](https://cloud.githubusercontent.com/assets/5083039/23556276/ab45e586-fff1-11e6-832b-79914e7373bd.png)

[2017-03-03 15:20] MartyIce opened #76 "ScanForm.Create failing"
I'm attempting to use the ScanForm.Create functionality, passing local Shipments (with just their "id" property populated), and am seeing the following error returned:

`{"error":{"code":"SCAN_FORM.CREATE.FAILURE","message":"Unable to create manifest. 2 of the specified shipments were not found: shp_8b44037ea7fb4294a19a3412da786942, shp_195c3f7bfe564d4889769a97e4f52f3e","errors":[]}}`

I have conf

[2017-03-03 16:22] Roguelazer commented on #73
I've enabled a workaround that should force clients like yours to only use the RSA certificate. You should be able to to use TLS1.2 now.

I would still be interested to know what in your configuration is disabling ECDSA certificates, should you ever find out.

[2017-03-03 16:22] #73 closed

[2017-03-03 16:26] jmalatia commented on #76
I don't believe you can use `ScanForms` in the test environment.  I believe they are only available in `Production` environment.  At least I seem to remember that to be the case when we were developing our app.

[2017-03-03 16:35] delapohl commented on #73
Excellent, thanks! We'll test at our earliest opportunity.

[2017-03-03 17:03] MartyIce commented on #76
Are there plans for this in the future?  I can work around it, but it's a rough edge in our consumption of the API.

[2017-03-03 17:58] MartyIce commented on #76
I just tested against production environment, and am seeing the same error.

[2017-03-03 22:50] mwaldt commented on #76
I am going to close this conversation. I answered this in the support ticket that was also sent in. We have tests built for the scan form object that you can view here:
https://github.com/EasyPost/easypost-csharp/blob/master/EasyPostTest/ScanFormTest.cs

[2017-03-03 22:50] #76 closed

[2017-03-04 03:20] humbersoft commented on #50
For me, the problem went away after I installed the 'RestSharpSigned' package.
 Install-Package RestSharpSigned

[2017-03-04 18:13] jmalatia commented on #50
In a new .Net Framework 4.6.1 project, referencing Easypost-Official (2.2.6) package, received the error `Could not load file or assembly 'RestSharp, Version=100.0.0.0...`

@humbersoft solution worked, `Install-Package RestSharpSigned` into my project.

But @att14, Easypost  needs to fix this issue, so additional packages do not need to be installed manually in the project that is calling the Easy

[2017-03-07 14:51] MartyIce opened #77 "C# Library - ScanForm.Create is failing"
I've been trying for several days to get an answer to how to make ScanForm.Create work, both here in github and with your support channels.  My prior ticket (https://github.com/EasyPost/easypost-csharp/issues/76) was closed, and I was directed to look at the unit test for ScanForm:

https://github.com/EasyPost/easypost-csharp/blob/master/EasyPostTest/ScanFormTest.cs

I created my own test shipment

[2017-03-07 16:59] #75 closed

[2017-03-07 17:09] #67 closed

[2017-03-07 18:39] att14 commented on #77
This appears to be a backend issue which I am looking into. Can you verify the exact error you are receiving?

[2017-03-07 18:42] MartyIce commented on #77
It is along the lines of:

{"{\"error\":{\"code\":\"SCAN_FORM.CREATE.FAILURE\",\"message\":\"Unable to create manifest. 2 of the specified shipments were not found: shp_68ab09ddfcf64f258280604dd842832b, shp_73176fca8902405c948836df936e7f5f\",\"errors\":[]}}"}

[2017-03-07 18:47] att14 commented on #77
Thanks, I was able to reproduce the issue and I'm looking into it.

[2017-03-08 12:52] dbreaker commented on #77
@att14 any updates?   We'd love to get our integration turned on as soon as possible and this is our last roadblock.

[2017-03-08 17:43] att14 commented on #77
This is an issue with test mode and USPS scan forms. We are working on a fix. If you have the ability to test with another carrier I would suggest doing that.

[2017-03-08 18:27] MartyIce commented on #77
Just an FYI, I tried my same test using our production key, and saw the same behavior.

[2017-03-08 18:41] att14 commented on #77
Sorry for the back and forth. I just realized the issue is that you are using a `predefined_package` of `Letter`. Untracked services are not manifested to the USPS and cannot be added to `ScanForm`s.

[2017-03-08 18:41] #77 closed

[2017-03-11 18:55] att14 commented on #50
I just released 2.3.0 which upgrades the dependencies for `NET40` and `NET35` and fixes the references in the `nuspec` file. If you are still having issues, please let me know.

[2017-03-28 14:21] att14 commented on #50
Since there have been no new reports of this, I'm going to close. If you continue to have issue please reopen with more details.

[2017-03-31 14:11] justintcgplayer commented on #50
I am still seeing the issue reported above where the EasyPost NuGet package still seems to  have a hardcoded reference to RestSharp 100.0.0, even though it lists 105.2.3 as a dependency. This is with EasyPost-Official v2.3.0.

When I install the NuGet package, it overwrites my existing reference to RestSharp 105.2.3 with a reference inside the EasyPost package folder that is version 100.0.0.

[2017-03-31 15:25] justintcgplayer opened #79 "New issue RestSharp and Newtonsoft JSON references"
This is the same issue as #50 which was closed.

When I add the EasyPost-Official package to my project via NuGet, it overwrites my existing Newtonsoft and RestSharp references. Even though RestSharp 105.2.3 is specified as a dependency for EasyPost, it replaces it with RestSharp 100.0.0.0.

[2017-03-31 18:47] att14 commented on #79
Okay I a reopening #50.

[2017-03-31 18:47] #79 closed

[2017-04-04 03:26] claytondus commented on #49
@NVentimiglia @att14 @warpspeed9 I just created a .NET Standard port from FubarCoder's PCL fork of RestSharp.  It's rough but you can preview it here: https://github.com/claytondus/easypost-csharp

[2017-04-04 16:26] att14 commented on #50
@justintcgplayer I preformed the following actions.

1. Added RestSharp 105.2.3 as a dependency.
2. Added EasyPost 2.3.1 as a dependency.
3. Wrote a simple application to ensure they are both working:

[code]

Because this package is signed and the RestSharp team will not create their own signed version (https://github.com/restsharp/RestSharp/issues/216) I am using RestSharpSigned. There is an ope

[2017-04-12 10:16] awright505 opened #80 "Shipment_Postage_Failure"
System was working fine for over 6 months but now getting HttpException error when using UPS, SHIPMENT.POSTAGE.FAILURE, "message":"Missing or invalid ship to attention name"

This happens only when an attempted rate is purchased

UK deliveries are fine, it's just international consignments

Regards

Adam Wright FIAP
TWS

[2017-04-12 19:37] k-funk opened #81 "Refresh Order rates at /orders/:id/rates"
See python library for an example of how this works: https://github.com/EasyPost/easypost-python/commit/ca012477f4aa8beb856db639423af6b886e0337c

[2017-04-12 22:14] att14 commented on #80
This is a server-side issue that we are currently releasing a fix for. If you continue to have issues please email support@easypost.com

[2017-04-12 22:14] #80 closed

[2017-04-12 22:30] awright505 commented on #80
Cheers Andrew

I'll do some testing in the morning, just odd that it's been working great for many months

Regards

Adam

[2017-04-13 18:54] mwaldt opened #82 "Shipment option endorsement needs to be added"

[2017-04-19 06:26] KumarWaghmode opened #83 "API response time and time taken by serializer."

[2017-04-19 16:53] att14 commented on #83
This issue is lacking any context or expected behavior. Please update with more information about the current state and the expected state. See articles about how to provide detail in GitHub issues: https://wiredcraft.com/blog/how-we-write-our-github-issues/

[2017-04-19 16:53] #83 closed

[2017-04-20 14:21] #82 closed

[2017-04-24 02:49] anbinhtrong opened #84 "No class "Insurance" in source code"
I write an example in the page: https://www.easypost.com/docs/api/csharp.html#insurance
When I compile, I have an error: "The name 'Insurance' does not exist in the current context"
I look up in github, I can't find class Insurance.cs.
Do you miss the file?

[2017-04-24 19:34] att14 commented on #84
This is a duplicate of #47. Can you write into support@easypost.com for more information?

[2017-04-24 19:34] #84 closed

[2017-04-24 20:31] UwHxNJ82 opened #85 "Possible to get the estimated delivery date using USPS"
Hi, is it possible to get the estimated delivery date using USPS? If so would you be able to provide an example or point me to some documentation?

Thanks

[2017-04-25 01:49] att14 commented on #85
Each rate object has a `delivery_days` attribute which is the carriers estimated delivery time.

[2017-04-26 20:39] rsaa opened #86 "In the sample code using C#, enums like Service and Carrier are used but I cannot find them in EasyPost library"
In the following code example, Service and Carrier enums are used but I can't find them in EasyPost library.

shipment.Buy(shipment.LowestRate(
    includeServices: new List<Service>() { **Service**.Priority },
    excludeCarriers: new List<Carrier>() { **Carrier**.USPS }
));

[2017-04-27 16:11] UwHxNJ82 commented on #85
Excellent, thanks!

[2017-05-11 11:53] Zreitdl commented on #49
@att14  any updates for .net core?

[2017-05-16 16:26] #86 closed

[2017-05-16 22:10] mwaldt opened #91 "Present order id on shipment object"
Order id has been presentable on shipment objects, support needs to be added to present this on shipment object.

[2017-05-23 20:30] k-funk opened #92 "Retrieve Reports using /reports/:report_id"
@victoryftw recently updated the endpoint to support retrieving without passing a type

[2017-05-25 00:45] jingta opened #94 "remove shipment barcode and stamp"
These are no longer relevant.

[2017-05-30 21:58] k-funk opened #95 "Add Support to List Batches"
Currently you cannot retrieve a list of batches. This should be added.

[2017-06-01 14:09] vongillern commented on #50
this issue should be fixed now if you update your EasyPost nuget package to 2.3.1.2. This is my PR that fixed the issue: https://github.com/EasyPost/easypost-csharp/pull/90

Long story short, the EasyPost nuspec was packaging the entire project and had the release build put all referenced assemblies in /lib/ and when you installed the EasyPost package, it would change the references for RestSharp

[2017-06-02 15:27] vongillern commented on #50
Follow up. If you have any other nuget packages that rely on the UNSIGNED version of restsharp, you're about to endure a lot of pain because binding redirects won't work between the signed and unsigned versions/references. I understand why RestSharp didn't want to sign it, but it would have been a lot easier to deprecate the old nuget project and make RestSharpSigned the official one.

If you're i

[2017-07-23 18:40] dolphinsd opened #97 "VB.net usage for address object"
Since VB.net is case insensitive validate property and Validate methods are in conflict when used on Address object!

[2017-08-01 21:01] technology-shipcaddie-com opened #98 "does not work in mult-threaded, multi-apiKey environments"
The current implementation of easypost-csharp uses a ClientManager that is a static class, and thus is a Singleton and not thread safe because it stores the apiKey.
Currently, the apiKey gets stored in the ClientManager static class and is then pulled whenever an execute happens.  This works great in a single apiKey environment for both single and multi threaded environments.

This methodology bre

[2017-08-01 21:06] technology-shipcaddie-com commented on #98
Pull request #99 addresses this issue.

[2017-08-02 21:58] tig4647 commented on #97
I have same issue where verify and validate are ambiguous.

[2017-08-08 18:35] #91 closed

[2017-08-08 18:35] #94 closed

[2017-08-09 23:58] att14 commented on #97
@dolphinsd can you send me the code that you are speaking of? What version are you running. I don't see anything called validate in the Address object.

[2017-08-10 14:11] tig4647 commented on #97
Verify is ambiguous in vb.net
there are 2 signatures. One is new in the address object and one is the function

[2017-09-01 13:17] Godd67 opened #102 "Add support to proxy servers"
We have a few customers that do not have direct Internet connection from their shipping machines because of company polices and instead are using local network proxy servers to communicate with outside world. For instance a customer’s PC can’t access https://onlinetools.ups.com/webservices (UPS API endpoint) directly , instead we let them to enter their proxy server URL and credentials in our soft

[2017-09-01 18:03] att14 commented on #102
You can change the underlying url to make requests to by setting it on `ClientConfiguration`.

https://github.com/EasyPost/easypost-csharp#configuration

Does this solve your issues?

[2017-09-01 18:35] Godd67 commented on #102
In our case proxy server needs additional credentials that we need to pass.  System.Net.Webproxy handles it .

[2017-09-01 18:40] att14 commented on #102
What kind of authentication are you using? Basic Auth?

[2017-09-01 18:52] Godd67 commented on #102
Honestly, not sure. We are setting this property -  https://msdn.microsoft.com/en-us/library/system.net.webproxy.credentials(v=vs.110).aspx

[2017-09-01 20:30] att14 commented on #102
This could be a pretty major change to how the client and request work. I have been wanting to make a change that would support something like this. I'll take a look and see how complicated it would be.

[2017-09-28 15:48] whoiskevinrich commented on #49
There is absolutely no reason this can't be turned into a library that targets netstandard, which can then be targeted by both netframework and netcore. Is Easypost open to pull requests? I made a small one for @claytondus's repo, but I'd be happy to come to the source.

[2017-09-28 18:05] att14 commented on #49
Yes of course.

[2017-10-18 16:07] ghost opened #104 "422 unprocessable entity"
Basically I want to create a tracker.So as per the document,below is the code I am using-

 public async Task<string> PostTracker(string url)
        {
            try
            {
                HttpClient client = new HttpClient();
                url = "https://api.easypost.com/v2/trackers/";
                client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",

[2017-11-01 19:14] eprussell opened #105 "Add support for purchasing insurance at same time as label"
Currently appears that the required steps are to first create and purchase the shipment, then subsequently add insurance.

[Documentation](https://www.easypost.com/docs/api/csharp.html#buy-a-shipment) indicates that this should be possible all at once, and it is with other libraries, but not this one.

[2017-11-01 19:51] chadwixk commented on #105
This causes you to have to do 2 calls...one to buy and then a separate to insure the shipment. So this adds application response time to the user experience while waiting to buy and print a label, as well as adds extra overhead to the EasyPost servers.

Hoping for a fix soon.

[2017-11-24 17:39] LandonWest opened #106 "ApiKeys class and All() definition to get all api keys as documented are missing"
Documentation shows retrieving all Api Keys like this:

[code]
https://www.easypost.com/docs/api/csharp.html#retrieve-a-api-key

The class ApiKey**s** appears to be missing, and there is no All() definition for the ApiKey class

[2018-01-09 17:30] att14 commented on #98
I believe #101 is a much less invasive change. If you still need it I will merge it in.

[2018-03-27 13:42] MazdaRacerBoy commented on #49
@att14 Can you merge in Pull Request #108 ?  Thanks.

[2018-04-10 20:09] j6967chen opened #109 "Class Error is missing 'code' attribute."
public class Error : Resource {
      **>>  public string code { get; set; } <<**
        public string field { get; set; }
        public string message { get; set; }
    }

[2018-04-13 18:59] att14 commented on #109
`Code` lives on `HttpException`, https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost/Exception.cs.

[2018-04-13 18:59] #109 closed

[2018-04-19 18:54] att14 commented on #49
Have you verified that #108 works for you. If yes, I'll try to merge it in next time I'm by a Windows computer.

[2018-04-19 19:56] MazdaRacerBoy commented on #49
We have been using the branched version in our development environment.  Light usage only, but it appears to be working fine.

[2018-04-20 18:42] #104 closed

[2018-04-20 19:52] ameetj85 opened #111 "Zip code validation does not seem to be working with dotNet lib 4.5 (v 2.3.1.4)"
Hello folks,

I am using the dotNet 4.5 version of the library. I have set verify_strict to "delivery" and "zip4", even though my zipcode is only 5 characters long. When I call .Create() on the Address object I am able to verify that the library correctly identifies wrong or missing street address values and city and state values. I am unable to get the library to verify the zipcode. I can use alm

[2018-04-20 19:56] ameetj85 commented on #111
[EasyPost_RatesTest.zip](https://github.com/EasyPost/easypost-csharp/files/1933483/EasyPost_RatesTest.zip)
Code attached

[2018-04-20 20:09] ameetj85 opened #112 "Delivery date always returns 01/01/0001 (USPS) - dotNet lib 4.5 (v 2.3.1.4)"
Hello folks,
I am using the dot net lib 4.5 and C# and every time that I try to get rates the delivery date returned for all rates is 01/01/0001.
I will try and attach a screen shot.
Please advise.
Thanks.
Ameet.

![image](https://user-images.githubusercontent.com/13681342/39071480-39cbf3e6-44b5-11e8-8df3-2e4dbde84c7c.png)

[2018-04-22 17:41] att14 commented on #112
This was possibly fixed by #103, could you verify?

[2018-04-22 17:44] att14 commented on #111
Its most likely not raising because its actually correcting the zipcode of the address you passed. If we are able to correct an address an error is not raised. If you email support@easypost.com we would be happy to look into the exact request you are making.

[2018-04-22 17:44] #111 closed

[2018-04-23 12:55] ameetj85 commented on #112
I got the latest dlls from the repo (net 45) and re-compiled my code. I see that the lib version was NOT updated (still shows 3.4.1). When I re-run my test the issue still exists - delivery date still shows 1/1/0001

[2018-04-23 13:28] ameetj85 commented on #112
Hello Andrew,

I downloaded the dot net 45 lib this morning. The version has not changed,
though Git does show that changes were made 3 days ago. The library version
still shows 3.4.1. I re-ran my tests and the issue still exists.

Please advise.

Thanks.
Ameet.

On Sun, Apr 22, 2018 at 10:41 AM, Andrew Tribone <notifications@github.com>
wrote:

--
"Beware of the man who works hard to learn someth

[2018-04-23 14:39] att14 commented on #112
I didn't bump there version yet. There is another change I am working on that will Mark the next release. I'll take a look at this as well. Could you post the code to your test?

[2018-04-23 14:53] ameetj85 commented on #112
[EasyPost_RatesTest.zip](https://github.com/EasyPost/easypost-csharp/files/1938758/EasyPost_RatesTest.zip)
Test code attached

[2018-04-23 14:54] ameetj85 commented on #112
Test code uploaded. Thanks.

On Mon, Apr 23, 2018, 10:39 AM Andrew Tribone <notifications@github.com>
wrote:

[2018-04-27 14:10] ameetj85 commented on #112
Hello Andrew,

Were you able to look at this issue, and did you get the test code that I provided here? Please let me know if I can provide any other info.

Thanks.

[2018-04-29 16:49] Debyiinha opened #114 "SDR value"
Hello good afternoon. I want to create a USPS Priority Mail International label, however, is the SDR value coming out, how do I not display this field?

Tks

[2018-05-31 18:50] yoelhalb commented on #98
#101 Is a very limited solution, only working when someone manually starts up threads (and not tasks) and manages them on his own (not via a ThreadPool etc.), and of course it will not help in a Web Server environment.

Of course this issue needs a solution, not just because everyone that uses it in a server environment needs it fixed, but also because it might take time till someone that uses thi

[2018-06-05 12:15] sasanka1983 opened #116 "Not able to create a Pickup for a given shipment."
Hello,

I am not able to create a Pickup request for a shipment. I am getting "PICKUP.BATCH_CARRIER.INCONSISTENT" error.

Also, For any from address (US Address), it is returning USPS carrier rates for both Production or Test. Am i missing something? Please help.

Below is the code snippet

 var parcel = new Parcel()
            {
                length = parcelDimensions.Length,
                w

[2018-06-05 23:10] att14 commented on #116
The shipment must be purchased in order to create a Pickup otherwise we don't know which carrier you want us to schedule the pickup with. If you don't want to purchase the shipments before creating a Pickup you must use a Batch and specify the carrier and service level for each Shipment.

[2018-06-05 23:10] #116 closed

[2018-06-22 16:51] att14 commented on #114
I'm not sure what SDR value means. Please provide an example of the problem and the expected output.

[2018-06-22 16:51] #114 closed

[2018-07-18 07:40] TymekMM opened #117 "C# coding convention"
Maybe you should look to this document:
https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/inside-a-program/coding-conventions

It is hard to read c# code when somebody using convention from Java and c++ for code in c#

[2018-08-11 18:36] att14 commented on #117
We gladly accept pull requests or if you have any linters that you would recommend I will take a look.

[2018-08-17 13:32] ninjaboy opened #118 "Nuget package 2.4.0 doesn't have .net core binaries"
We have recently tried to use official EasyPost nuget package, but there's something weird going on.
Although, according to the comments here: https://www.nuget.org/packages/EasyPost-Official/# the latest version of the package should have .net core support it seems like the distribution package itself doesn't have the necessary binaries. E.g. this is how the package restored on my machine looks l

[2018-08-31 06:47] kgrvr opened #119 "Version 2.4.0 throwing dependency issues realted to Newtonsoft.Json and RestSharpSigned on .NET Core 2.0 Project"
![img_31082018_120948_0](https://user-images.githubusercontent.com/11766028/44896801-2156f480-ad17-11e8-9159-a63ccedcf3f9.png)

Adding dependency to .NET Core 2.0 project throws the above mentioned warning. Newtonsoft.Json requires version 11, which is thrown at runtime, and RestSharp package is not compatible with .NET Core 2.0.
Please help me resolve this issue.

[2018-09-06 22:15] Yesuah commented on #50
Hello,

Are there any official updates regarding this issue? We need to upgrade the EasyPost library due to TLS issues and this RestSharp versioning thing is preventing us from using the latest library. If anyone has some suggestions on what I can do to remedy this via Nuget install and not forking the code that would be great.

[2018-09-28 16:40] att14 commented on #118
Since I do not maintain a production .Net application I was hoping the community would be able to help with .Net Core support. There is a large discussion in #49 about this. @MazdaRacerBoy may be able to help you with this since they have suggested that it is working for them.

If you are able to get this working I will accept any pull requests you make and try to have another contributor review i

[2018-09-28 16:42] att14 commented on #50
RestSharp is now signed. I am upgrading to [v106.4.2](https://www.nuget.org/packages/RestSharp/106.4.2). Not that this only applies to .Net 4.5.2 and .Net Core.

Please reopen if you continue to have issues.

[2018-09-28 16:42] #50 closed

[2018-09-28 16:43] att14 commented on #119
I will be releasing a new version shortly. Please try it and let me know if that fixes your problem.

[2018-09-28 16:43] #119 closed

[2018-09-28 17:47] att14 commented on #112
I am still not able to reproduce this. I have a change to make even more Rate attributes optional.

[2018-09-28 17:47] #112 closed

[2018-09-30 20:04] jmalatia commented on #119
@att14  Please remove the reference to RestSharpSigned in netcoreapp2.0 project and add reference to RestSharp instead which is .net core compatible.  RestSharp is now signed and RestSharpSigned is obsolete, see [https://github.com/restsharp/RestSharp#note-on-restsharpsigned](url).

Additionally make corrections to other projects that no longer need to reference RestSharpSigned.  You will also nee

[2018-10-03 23:30] #105 closed

[2018-10-03 23:33] att14 commented on #119
@jmalatia, you are right. Try the new 2.5.0.1 version. I did not remove `RestSharpSigned` from .Net 3.0 and .Net 3.5 because the new version of `RestSharp` isn't available for those versions.

[2018-10-05 17:33] nesterenes commented on #50
@att14 I'm currently using `RestSharpSigned` on .Net 4.6.1. So this is still an issue for me because the EasyPost Library is requiring `RestSharp`. Why was this issue closed if it only resolves it for .Net 4.0 and lower or .NetCore 2.0?

[2018-10-05 17:43] att14 commented on #50
This library doesn't currently support 4.6. I can add support but that would be a different task.

[2018-10-08 19:38] nesterenes opened #122 "Support for ASP.Net Standard Version 4.6.x"
Per issue #50 , This library doesn't currently support 4.6.x. The lack of support for that version prevents NuGet package updates because of conflicts between applications using `RestSharpSigned` and `RestSharp`. If `RestSharpSigned` is installed, easypost-csharp latest library cannot be used on ASP.Net version 4.6.x. However the library is functional on ASP.Net 4.6.x with previous easypost-csharp

[2018-10-08 20:10] jmalatia commented on #122
RestSharpSigned is obsolete per [https://github.com/restsharp/RestSharp](https://github.com/restsharp/RestSharp) ([last version was 8/2015](https://www.nuget.org/packages/RestSharpSigned/)) as RestSharp is now signed.

[2018-10-10 23:49] dharamhbtik opened #123 "RestSharp issue"
I have updated to latest version of EasyPost but while calling create method I am getting below error
Method not found: 'Void RestSharp.RestRequest..ctor(System.String, RestSharp.Method)'.

EasyPost Version : 2.5.1
RestSharp Version : 106.5.2

Any help on this?

[2018-10-11 00:01] jmalatia commented on #123
@dktechindia  What .net version are you targeting?

[2018-10-11 22:35] dktechindia commented on #123
its 4.7.1

[2018-10-11 23:52] jmalatia commented on #123
@dktechindia I can verify that you are correct with RestSharp version 106.5.2 that error is encountered.

@att14  The problem does not occur with RestSharp 106.4.2... I tested targeting `net472`

Full Error I received:
[code]

[2018-11-08 05:45] MIACH99 commented on #123
I am having the same issue when i update the version to 2.5.1.
Whichever RestSharp Version is the issue remains.
I am now using the EasyPost Version 2.3.1.4 and it is stable.

[2018-12-12 17:13] taivt0109 opened #125 "Multiple EasyPost API keys don't work with latest version 2.5.1"
If you are operating with multiple EasyPost API keys, or wish to delegate the construction of the client requests, configure the ClientManager with a delegate at application initialization.

using EasyPost;

ClientManager.SetCurrent(() => new Client(new ClientConfiguration("yourApiKeyHere")));

I reference this document. But it doesn't work with version 2.5.1

i got an error " 'Client' does not co

[2019-02-23 19:55] jim-at-survey-com commented on #123
We have encounter the same issue in RestSharp 106.6.7 (on netcore 2.1).  We are encountering it when trying to Verify an address but instead of a hard error - the address gets turned to null thus triggering a failure to find rates.

Any idea about when you can restore compatibility with the underlying library.  Obviously this is pretty aggravating to paying customers of EasyPost.

[2019-03-08 03:51] jwahr commented on #123
@jim-at-survey-com

We are on the following versions:
.NET Framework: 4.7.2
EasyPost: 2.5.1
RestSharp: 106.6.7

We switched from `EasyPost.Address.Verify` to `EasyPost.Address.CreateAndVerify` to get around this issue.

[2019-04-25 18:08] sunny227 opened #126 "how to deal with nullable parameter in dynamics NAV?"
any one face the issue when use csharp library in dynamics NAV?

[2019-05-21 12:18] miguelhughes commented on #9
From what I could infer from code, easypost uses RestSharp to send requests. There's a [post on SO](https://stackoverflow.com/questions/15683858/restsharp-print-raw-request-and-response-headers) that examines how to enable logging on restsharp, and the hands off approach is to enable net tracing. On net core this is not an option. I resorted to using Telerik's Fiddler, which gave me what I needed.

[2019-06-12 15:39] drakinfar opened #127 "User Create method missing on User object"
when trying to create a child user as set out in the documentation the Create method is missing

code

[code]

user.Create() is missing from the user object.

this is on version 2.5.1 of the nuget package.

[2019-06-12 17:44] drakinfar commented on #127
there is a static member that allows fro creates but the documentation shows a non-static example. Assuming the documentation needs to be updated.

[2019-07-09 16:30] chadwixk opened #129 "Why Releases only shows up to 1.xxx version?"
Looking for any release notes on 2.5.1.1 (to see if it fixes any RestSharp dependency issues). But couldn't find this, or any newer versions, under the Releases.

I'm not the most familiar with Git, so thought I'd ask.

[2019-07-09 16:49] chadwixk commented on #123
Targeting ASP.Net Standard 4.6.2
EasyPost 2.5.1
RestSharp 106.6.9

And getting the error:
`Could not load file or assembly 'RestSharp, Version=106.4.2.0, Culture=neutral, PublicKeyToken=598062e77f915f75' or one of its dependencies. The system cannot find the file specified.`

I have binding redirects set up to redirect versions 0 -> 106.6.9.... that didn't work..

I downgraded restsharp to 106.4.2

[2019-08-15 21:55] Volnyxxe opened #130 "Add Support to Register FedEx Accounts"
EasyPost has recently added a new endpoint to allow developers to register their FedEx accounts. It would be nice if this was available in the C# library.

From an EasyPost support ticket:
It is possible to add FedEx via an API call and I have an example cURL you can use as a template:

curl -X POST https://api.easypost.com/v2/carrier_accounts/register \
 -u <CHILD_PRODUCTION_API_KEY>: \
 -d 'carr

[2019-08-30 22:21] mjmatthiesen opened #132 "Shipment Object missing "carrier" and "service" to support Batch purchase"
Maybe I am missing something obvious, but in the current code base, I cannot purchase a batch.

Typical curl would look something like this:
`curl -X POST https://api.easypost.com/v2/batches ^
-u key: ^
-d "batch[shipment][0][id]=shp_id" ^
-d "batch[shipment][0][carrier]=name" ^
-d "batch[shipment][0][service]=service" ^
--cacert ca-bundle.crt`

Shipment object does not support this property (curr

[2019-09-01 06:08] mjmatthiesen commented on #132
After some digging I have realized that there's only one real way to do this in the current code base and likely does not need a fix at all for it.

You have to use Batch.Create(dict<str, obj>) and pass your shipment in as an "uncreated" shipment in the form of a dict<str,obj> with all its params as dict<str,obj> as well. Bit more cumbersome to type and can't make use of any of the objects, but th

[2019-09-01 06:08] #132 closed

[2019-09-09 18:58] chadwixk commented on #98
Is this still an open issue? We were planning to use this project for a multi-tenant Saas application, so the repercussions of mixed client data and charges is catastrophic.

Does this fix it?

[code]
And why does it state to:

Wouldn't you set this for each request, not at App Initialization?

[2019-09-09 19:14] att14 commented on #98
The delegate that you configure can be a function that uses context of the request, e.g. looking up the API key in a database based on the requesting user's id.

This code is not thread-safe or asynchronous. If you are building a threaded or asynchronous application I highly suggest using https://github.com/kendallb/easypost-async-csharp.

[2019-09-09 19:24] chadwixk opened #134 "Batch.CreateAndBuy does not exist?"
The doc overview on [the project home page](https://github.com/EasyPost/easypost-csharp#asynchronous-batch-processing) shows that you can Create and Buy a Batch with one call:

    { "reference", "MyReference" },
    { "shipments", new List<Dictionary<string, object>>() { shipment } }
});

But the [Batch.cs](https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost/Batch.cs) class does not

[2019-09-09 21:31] chadwixk commented on #98
@att14 ok, thanks for clarifying....I was looking at their project already as we wanted async support as well. Thanks for the quick response!

[2020-02-12 18:27] wyenkevich commented on #123
This is still an issue with the latest RestSharp. At the very least, the nuget package for EasyPost should target RestSharp (= 106.4.2) specifically, instead of "RestSharp (>= 106.4.2)" like it does right now.

[2020-02-13 21:32] rbellow opened #138 "VerificationDetails does not exist"
The **details** attribute in the Verification object does not exist. Hopefully it can be added in a future update.

[2020-02-13 22:02] mjmatthiesen opened #139 "One-Call-Buy on Shipments and Orders is Not Supported"
Hi, with both the order and shipment object you can pass the service you wish to purchase (as long as one and only one carrier id is set as well).

The dotnet library does not currently support this. Using curl, this would look like this:

curl -X POST https://api.easypost.com/v2/shipments ^
-u apikey: ^
-d "shipment[to_address][id]=adr" ^
-d "shipment[from_address][id]=adr" ^
-d "shipment[parcel]

[2020-03-02 19:32] chamby opened #142 "commercial_invoice_letterhead missing from Options"
This is needed for FedEx International with electronic trade documents (ETD).

[2020-03-08 04:45] #106 closed

[2020-03-08 04:52] #81 closed

[2020-03-08 06:35] att14 commented on #49
.Net Core is supported, see #122 for information about .Net 4.6.

[2020-03-08 06:35] #49 closed

[2020-03-08 06:35] #60 closed

[2020-03-08 06:36] #9 closed

[2020-03-08 06:41] #45 closed

[2020-03-08 06:44] #92 closed

[2020-03-08 06:54] #97 closed

[2020-03-08 06:54] #117 closed

[2020-03-08 06:55] #118 closed

[2020-03-08 06:56] att14 commented on #123
How does that help? Do you have a reproducible Solution that I can test against? Whenever I create a new console application and import the library it works for me.

[2020-03-08 07:00] att14 commented on #125
I have two tests that should cover this exact situation. https://github.com/EasyPost/easypost-csharp/blob/master/EasyPostTest/ClientManagerTest.cs#L30-L44'

Do you have a more specific example or some modification to the existing tests that would reproduce this behavior?

[2020-03-08 07:01] #126 closed

[2020-03-08 07:07] att14 commented on #129
Sorry they aren't updated very well, I'll try to do that, but you can look at the actual releases on Nuget (https://www.nuget.org/packages/EasyPost-Official).

[2020-03-09 18:44] wyenkevich commented on #123
I have a working example in a large sln that I can't upload. But it is easily reproducable. As others have stated above, there were changes in RestSharp after v 106.4.2 that make the latest version of EasyPost not work. Details: https://github.com/restsharp/RestSharp/issues/1198
If the EasyPost package won't allow an upgrade then you would have far fewer people running into this. At least until it

[2020-05-08 19:58] davitgr opened #147 "RestSharp compatibility"
We are using the EasyPost .Net Core libraries. The library is incompatible with newer versions of RestSharp. Will you be adding support? The latest version is 106.11.2, but the EasyPost libraries are only compatible with 106.4.2.

[2020-05-08 20:01] davitgr commented on #123
Any updates on this issue?

[2020-05-11 22:38] att14 commented on #123
I have never been able to reproduce the problem. If someone can provide a Solution that reproduces the problem I can work on fixing it.

[2020-05-11 22:50] davitgr commented on #123
If you upgrade to the latest version of RestSharp, and try using the EasyPost libraries, you will see that it will fail because of the RestSharp version.

[2020-07-01 16:20] TGKN commented on #98
Hi,
this issue is still not fixed... #101 does not seem to be a feasible option when running the code on a webserver and #99 obviously never made it to the master branch. Are there any plans to address this issue? We are using easypost on a webserver with 250 users by now but already 5% of all calls fail because supposably the API key was "reset" between two subsequent API calls.

[2020-07-01 16:44] att14 commented on #98
@TGKN there are no plans on updating this client to handle `async`. My suggestion is to use https://github.com/kendallb/easypost-async-csharp instead.

[2020-07-02 06:26] TGKN commented on #98
I am not asking to make the client being able to handle async, I am only asking for it to be thread safe. These are 2 different things.
I saw the library you mentioned, It seems outdated. Easypost did some changes to their API recently, thesse are not reflected in the library you mentioned thus it's worthless putting it in a production system.

[2020-08-21 06:32] TGKN opened #150 "Nullreference Exception when creating a shipment"
Hi,
I keep getting Nullreference exceptions when creating a shipment (About 10 per day and not specifically reproduceable). Here's the error and stack trace:
Object reference not set to an instance of an object.

System.NullReferenceException: Object reference not set to an instance of an object. at EasyPost.Resource.Merge(Object source) at EasyPost.Shipment.Create()

Any ideas what could be causi

[2020-09-02 22:21] chargerback-ron opened #151 "VB.Net error Create is ambiguous"
I'm using VB.Net to develop an EasyPost solution using the EasyPost.Net35.dll. When compiling I get the following error:

According to documentation on MSDN, this error means that the source for the DLL was written in C#, which is case sensitive, so create and Create are two different things, whereas VB is case insensitive, so create and Create are the same thing. I looked through the code in this

[2020-09-02 22:34] Justintime50 commented on #151
Hey @chargerback-ron, we have released newer versions since that are not reflected on this GitHub page (see: https://www.nuget.org/packages/EasyPost-Official/).

As for your question, I can try digging around. Maybe @roehnan can shed some light on this?

[2020-09-02 22:45] chargerback-ron commented on #151
Thank you @Justintime50 I have verified that I am in fact using the latest version of the DLL from NuGet.

[2020-09-15 22:25] chargerback-ron commented on #151
@Justintime50 any update on my issue? I'm stalled in my EasyPost implementation right now. Thank you!

[2020-09-15 23:35] Justintime50 commented on #151
I'll be honest, C# isn't my forte; however, in my research, I found the following that may be useful. I'm not entirely sure if this is an issue with the C# client library or the way it's being implemented on your side. Can you share a code snippet or gist here that we can take a look at?

Useful links (assuming this is a problem with the implementation of this library and not the actual library it

[2020-09-15 23:56] chargerback-ron commented on #151
Be happy to! It's quite easy to reproduce the error. Just try to compile this and you will get the error on the line FromAddress.Create(). It's definitely an error with the client library. The DLL is marked as "Language Neutral" but it is not if this simple code cannot compile. The Reflection link you sent looks promising; I'll let you know if it works.

        Dim FromAddress As New Address

[2020-09-23 06:41] TGKN opened #152 "Invalid Cast while creating shipments"
Hi,
I have another error that regularly pops up in my application logs. Personally I was not able to reproduce it yet. Here is the stack trace:
System.InvalidCastException: Unable to cast object of type 'Newtonsoft.Json.Linq.JArray' to type 'System.String'. at EasyPost.Client.Execute[T](Request request) at EasyPost.Request.Execute[T]() at EasyPost.Shipment.SendCreate(Dictionary`2 parameters) at Ea

[2021-01-20 01:03] Roguelazer opened #154 "Automated tests"
We currently don't automatically run any tests or do any kind of CI in this client library.

Let's get easypost-csharp working on .NET Core and then add GitHub Actions to run the tests (or at least run a compile). Eventually it'd be great to automate package building and NuGet  upload, too...

[2021-02-22 22:32] nicknasirpour commented on #125
Hi, I am having the same issue accessing this constructor.

The Client constructor in reference has an "internal" access modifier, which is why you are able to use it within your EasyPostTest project... it is within the same solution/assembly... But we are unable to use it in our solutions. It should be marked as public if you would like us to use to have access.

[2021-02-22 22:38] nicknasirpour commented on #125
Here is the commit where the access modifier is changed from public to internal:

https://github.com/EasyPost/easypost-csharp/pull/100/commits/2f8cb663998e93902f0c50303900bd2b3de6b287

[2021-02-24 00:42] nicknasirpour opened #157 "Culture issue"
Bonjour,

We are from Quebec and our systems have a French culture by default.

Try adding and running this unit test:

[code]
It will fail with a null reference.
That is because the response data is null for some reason on this line: https://github.com/EasyPost/easypost-csharp/blob/1f4051a25beffa6432f471690e2047a186b7dbc0/EasyPost/Client.cs#L55

Our work around so far is to set the thread culture

[2021-05-24 16:11] Justintime50 commented on #154
#155 addresses the GitHub actions piece

[2021-06-08 20:13] Justintime50 commented on #44
Closing due to inactivity.

[2021-06-08 20:13] #44 closed

[2021-06-08 20:25] Justintime50 commented on #127
The [documentation](https://www.easypost.com/docs/api/csharp#child-users-create-codesample) and [library](https://github.com/EasyPost/easypost-csharp/blame/master/EasyPost/User.cs#L45-L59) appear to match and have for some years, you can call `user.Create()` to create a child user. Closing this, if I've misunderstood the request, feel free to reopen with additional details.

[2021-06-08 20:25] #127 closed

[2021-06-08 20:26] Justintime50 commented on #129
Unlike our other libraries, this repo does not contain the entire history of releases on GitHub but does on NuGet. Please reference NuGet for a list of releases. We plan to ensure that GitHub gets the list of releases moving forward and may visit the idea of going back in time and tagging commits with their releases.

[2021-06-15 18:11] #142 closed

[2021-06-15 18:14] #134 closed

[2021-06-23 03:21] brunoniconeves opened #160 "Nuget version need a update"
The commit commit 92662251db84a88906fadbf8096bd7fc9f661392 that added the field commercial_invoice_letterhead seems not present at version EasyPost-Official.2.5.1.3 at Nuget.

When trying to set the field I got the following error:

"Options" does not contain a definition for "commercial_invoice_letterhead"

[2021-06-23 16:18] Justintime50 commented on #160
Hey there,

We are currently working on a few extra items that will be included in an upcoming release. We don't yet have an ETA but this fix for the `commercial_invoice_letterhead` field will be included in that next release.

If you'd like in the meantime, you can build from source to get this change incorporated into your project. Make sure to `Watch` the project to stay up to date when we make

[2021-06-28 20:57] Justintime50 commented on #130
We definitely want to incorporate this to the client libraries. Thanks for submitting this issue! We are taking a holistic view so that we can allow registration of more than just FedEx accounts via a single method/interface (UPS in addition for instance). We don't yet have an ETA but it's something we want to add in the future.

[2021-07-13 19:39] Justintime50 commented on #138
Your PRs (#140 and #141) have been merged. We will include these changes in an upcoming release.

[2021-07-13 19:39] #138 closed

[2021-07-19 14:16] davitgr commented on #160
@Justintime50 will the new release have an updated RestSharp version?

[2021-07-19 15:26] Justintime50 commented on #160
@davitgr Most likely; however, we are still planning what will be included.

[2021-07-20 18:32] #147 closed

[2021-07-20 18:33] Justintime50 commented on #123
We've bumped the RestSharp version to `106.12.0`. This change will be included in the next release of this library.

[2021-07-20 18:33] #123 closed

[2021-07-21 15:16] LoganSimonsen commented on #150
this might be fixed by upgrading Rest Sharp to 105.0.0 or later?

https://github.com/restsharp/RestSharp/blob/dev/releasenotes.md

[2021-07-21 19:30] Justintime50 commented on #150
@LoganSimonsen interesting find!

@TGKN what version of this client library and/or RestSharp are you using?

[2021-08-03 07:11] TGKN commented on #150
Hi,
I am using the tip revision of the easypost client library (not the nuget package) and the RestSharp version I am using is 106.11.4

[2021-08-12 17:09] Justintime50 commented on #102
This items isn't on our immediate roadmap; however, we are open to pull requests if someone wants to take a stab at it.

[2021-08-12 17:16] Justintime50 commented on #150
Could you provide a snippet/gist/link to the code you are using and the data you are passing so we can look into this further?

[2021-08-12 17:17] Justintime50 commented on #152
@TGKN you mentioned not being able to reproduce this error, has this issue occurred again since initially bringing it up here? If so can you provide a code snippet/gist/link and the data you were sending?

[2021-08-13 00:23] davitgr opened #173 "New Release"
@Justintime50 what is the ETA for the new release?

[2021-08-13 19:10] Justintime50 commented on #173
We are finalizing our internal build+release pipeline as we speak - I don't have a solid ETA but I'd hope we'll be able to cut a new version in the next month or so that will include all the landed items sitting on master that haven't yet been released (including SmartRate support and various bug fixes). Make sure to `watch` this project to keep an eye when we do release!

[2021-08-16 15:18] TGKN commented on #150
Hi,
I don't think it is related to my code  - and also not to the data that is being passed. There seems to be an issue in the EasyPost.Resource.Merge(Object source) method, I keep getting these kind of errors when creating shipments or creating new addresses. I was witnessing the error once myself trying to create a shipment. I tried again just a couple of seconds later sending the same data and

[2021-09-03 16:09] chargerback-ron opened #174 "shipment.Buy compiler error CS1501: No overload for method 'Buy' takes '1' arguments"
I am getting this error trying to compile a web page using the EasyPost.Net35.dll. All code is in C#. Reflection shows that there are two overloads for the Buy method. The first takes a rateId as a string, and optionally, an insuranceValue as a string, which defaults to null. The second takes a Rate object, with the same optional parameter. I have tried both variations of the overload, both with a

[2021-09-03 16:12] Justintime50 commented on #174
@chargerback-ron can you provide a quick code-snippet of what you are running? Without seeing what you are seeing it will be difficult to diagnose this.

[2021-09-03 16:18] chargerback-ron commented on #174
Of course! This is the line that causes the compiler error:

`shipment.Buy(shipment.rates[index]);`

If I comment that line, the page compiles without error. Here is the code in context.

[code]

[2021-09-03 16:43] Justintime50 commented on #174
Your `Buy` method invocation looks correct. I was able to follow this snippet and purchase a label the same way you are trying. Two things:

1. Your `ClientManager` isn't prepended with `EasyPost`, is this aliased somewhere else that I'm not seeing? My assumption is that the EasyPost client isn't being setup correctly and so it can't buy properly. It should be `EasyPost.ClientManager.SetCurrent(Co

[2021-09-03 17:01] chargerback-ron commented on #174
That is the way I originally had it. I added the foreach because EasyPost support told me that `rate ID` was not valid as a parameter. I have been working with them for the past two days but getting nowhere. He keeps asking me if I am passing a valid ShipmentID. He doesn't seem to understand that if the page will not compile, it doesn't matter what I'm trying to pass to it. That's why I came here.

[2021-09-03 17:15] chargerback-ron commented on #174
This is the output of Build Page with the line uncommented.
[code]
And this is the output with just that one line commented.

[code]

[2021-09-03 17:16] chargerback-ron commented on #174
When you tested that code, did you use .Net 3.5 and the EasyPost.Net35.dll?

[2021-09-03 18:07] Justintime50 commented on #174
You can purchase a shipment either way (providing a full rate object or by passing a rate ID eg: `shipment.Buy("rate_123...");`), I apologize for the miscommunication from other members of the team.

As for the compiling issue, I did not use `.Net 3.5`, I'm running it on `v5` - I'm on macOS and don't believe that `3.5` was released on macOS?

I'm not well versed with C#; however, your code usage l

[2021-09-03 19:11] chargerback-ron commented on #174
Well this is a website that has been up and running for over 10 years and uses numerous other DLLs, including at least one that your DLL is dependent on, Nerwtonsoft.Json. It is regularly patched with the latest releases from Microsoft. Also, using the same libraries I am successfully able to get rates. Here is the code of the EasyPostRate.aspx page, as you can see, it is materially identical and

[2021-09-13 16:03] tmacblane opened #175 "Missing ability to set "date_advance" using the Option model"
I ran into an issue when creating a shipment where I could not set the date_advance property in the Options class because it does not exist.  I was able to get around this by passing in a Dictionary<string, object> object into the Create method but for ease of creating the shipment it would be nice to be able to use the class/property.

[code]

[2021-09-13 16:21] mwaldt commented on #175
Hi,

The `date_advance` option is a legacy option that we depreciated in favor of the more flexible `label_date` option.  You can read more about it in our [docs](https://www.easypost.com/docs/api#options). If you have any further questions please reach out to support@easypost.com.

Cheers!

[2021-09-13 16:21] #175 closed

[2021-09-13 17:36] tmacblane commented on #175
I had tried label_date as an option but was not able to get rates for a future shipment.

This was the information from that request on Friday when I worked with support.

Shipment Id:  "shp_aeee05e035b344aa97bcdc844e811775"
Order Id:  "order_6717de98dec84bbf86354870caf4d038"
Rate Id:  "rate_fab7f30592b54c9ca510794739921011"

[2021-09-17 15:43] davitgr commented on #173
@Justintime50 do you have any updates on when we can expect the new release to be?

[2021-09-20 05:13] Justintime50 commented on #173
Hey there, still no ETA; however, we are actively discussing our options as to the build system and release workflow. There are a lot of moving parts to get right and potentially a few more items to include prior to release. Thanks for checking back in, I'll make sure to update this thread when I have additional information.

[2021-10-07 18:38] coryplowman opened #177 "Customs parameter for Shipment options"
The options object does not contain the parameter

commercial_invoice_letterhead

which is required by certain countries in order to ship there.

[2021-10-07 18:41] Justintime50 commented on #177
We recently merged this into the master branch: https://github.com/EasyPost/easypost-csharp/blob/master/EasyPost/Options.cs#L83

You can either build from source for now or take advantage of the addition of this option when we release a new version of this client library. We are hoping to do so in the coming weeks.

[2021-10-07 18:41] #177 closed

[2021-10-18 04:12] Justintime50 commented on #173
Still no ETA; however, we are working to get this up and running (see https://github.com/EasyPost/easypost-csharp/pull/178 for example) and are hoping to release this soon.

[2021-11-04 17:05] Justintime50 commented on #173
Hey there, I'm happy to announce we've released `v2.6.0` which contains various updates including that update to RestSharp! You can download from Nuget here: https://www.nuget.org/packages/EasyPost-Official/

[2021-11-04 17:05] #173 closed

[2021-11-04 17:06] Justintime50 commented on #160
Hey there, I'm happy to announce we've released `v2.6.0` which contains various updates including that update to RestSharp! You can download from Nuget here: https://www.nuget.org/packages/EasyPost-Official/

[2021-11-04 17:06] Justintime50 commented on #123
Hey there, I'm happy to announce we've released `v2.6.0` which contains various updates including that update to RestSharp! You can download from Nuget here: https://www.nuget.org/packages/EasyPost-Official/

[2021-11-04 17:22] davitgr commented on #123
Thank you for the update. I really appreciate it.

On Thu, Nov 4, 2021, 1:06 PM Justin Hammond ***@***.***>
wrote:

[2021-11-10 06:02] dharamhbtik commented on #123
Great to hear.

[2021-11-29 17:59] Justintime50 commented on #122
We don't plan to do this per the previous comment. `RestSharpSigned` is now 6 years outdated and as such, `RestSharp` should be used instead.

[2021-11-29 17:59] #122 closed

[2021-11-30 20:53] #139 closed

[2021-12-20 16:35] Justintime50 commented on #130
Hey @Volnyxxe, adding a CSP enabled FedEx account via API call is now supported. Please reach out to support@easypost.com for additional details on getting this setup (you should even be able to use the client library to do it.)

[2021-12-20 16:35] #130 closed

[2022-01-05 16:51] chargerback-ron commented on #51
So, **five years** later, the documentation on the site _still_ has not been updated.

[2022-01-05 21:23] Justintime50 commented on #51
Hey @chargerback-ron, thanks for bringing this back to our attention! I've put up a diff internally to get this corrected on our public facing docs. It's in-review as we speak.

[2022-01-05 21:24] chargerback-ron commented on #51
Thank you @Justintime50

[2022-01-06 06:18] nwithan8 commented on #174
Sorry about the delayed response, @chargerback-ron . We're circling back to this issue.
First off, is this still an issue for you, and/or have you since switched to a more recent release of this library? `2.6.0`, `2.6.1` and `2.7.0` have been released since this issue was first posted.
I so far have briefly tested it using your code snippet as a sample, and have not been able to recreate the compi

[2022-01-06 17:44] chargerback-ron commented on #174
@nwithan8 Thanks, but I already solved my issue by moving to the EasyPost.Net40.dll. I had to move my whole web application to  .Net 4, but that was something I had been wanting to do for quite a while; this gave me the excuse I needed for my boss to okay it. That was all it took to fix the issue - no other code changes, just moving to the EasyPost.Net40.dll. Oh, and the version of that dll is the

[2022-01-06 17:44] #174 closed

[2022-01-06 22:23] nwithan8 commented on #174
Thank you for your feedback and insight @chargerback-ron , glad your system is working again.
A quick Google search around is pulling up some reports of inconsistent and/or non-existent support for method overloading in .NET 3.5, so we'll need to account for that moving forward: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/d0c5eab1-ac6b-4f1b-acbc-ec6f9c4c0bfa/method-overloading-in-cnet

[2022-01-06 22:26] chargerback-ron commented on #174
Wow, an excellent find! I guess that explains the issue. Thanks for staying on top of it.

[2022-01-21 03:21] nwithan8 commented on #154
Handled by #186

[2022-01-27 00:17] dolphinsd opened #190 "New RestSharp library"
If use latest restsharp, version 107, see https://restsharp.dev/v107/#restsharp-v107
and this library, it causes errors!
Method not found: 'RestSharp.IRestRequest RestSharp.RestRequest.AddHeader(System.String, System.String)'.

[2022-01-27 00:27] Justintime50 commented on #190
Thanks for reporting this! We also have an internal task for this issue and are actually looking into it now. We'll update you here when we have more info.

[2022-01-31 21:51] Justintime50 commented on #190
After digging into this a bit, RestSharp `v107` is not compatible with this library. We have plans in the coming couple weeks to upgrade to v107 in this library and make the necessary compatibility changes. We'll also be pinning RestSharp to 107 so that these breaking changes cannot happen again in the future when a new major version comes out.

My suggestion for now is to pin RestSharp to `v106`

[2022-01-31 21:51] Justintime50 commented on #152
Has this issue come up again since the initial reporting of it?

[2022-02-02 23:12] nwithan8 commented on #95
Please ignore the mention on #201 , that was an accidental tag

[2022-02-03 22:29] #95 closed

[2022-02-16 20:32] Justintime50 commented on #47
This is now included with `v2.8.0`!

[2022-02-16 20:32] #47 closed

[2022-02-17 01:57] chargerback-ron opened #211 "NuGet says v.2.8.0, but downloaded dll is 2.5.1.3"
I just tried downloading the 2.8.0 release from NuGet. Although 2.8.0 is the version NuGet reports it is installing, the dll is dated 11/2/2021 and when I look at properties, it still reports as 2.5.1.3. Additionally, there is still no Insurance object.

[2022-02-17 02:16] jchen293 commented on #211
@chargerback-ron
Thanks for reporting this issue, can I know which version of .Net framework are you using?

[2022-02-17 19:57] Justintime50 commented on #211
Thanks for reporting this! We've identified an issue with our build/package process during releasing and will have another release out shortly to address this.

[2022-02-18 00:20] Justintime50 commented on #211
We have released `v2.8.1` that properly packages all the new changes from `v2.6.0` - `v2.8.0`. Thanks for your patience as we corrected this issue! We're actively improving our documentation and releasing process to ensure this is avoided in the future.

[2022-02-18 00:20] #211 closed

[2022-02-18 00:24] chargerback-ron commented on #211
@Justintime50 Thank you for the fast turnaround.

[2022-02-23 23:27] #190 closed

[2022-02-26 18:51] overforkover77 commented on #150
@Justintime50 , I have been experiencing the same issue/scenario that @TGKN has.

Experiencing this with single call purchasing of  'Orders' using our 'test' key.

Using the same order(s) data for our testing/implementation work, we see this randomly occur.  Other times, with same exact data, it does not.

**Exception info:**

I inspected the response using Fiddler to see if the raw HTTP response

[2022-02-28 21:01] Justintime50 commented on #150
@overforkover77 thanks for the additional details! We are currently looking into this issue and will report back here shortly. We have a few in-flight PRs that may address this issue.

[2022-03-08 20:34] nwithan8 commented on #98
First off, apologies in the lack of communication regarding this issue. We are actively exploring how to best address this, and weighing the idea of a refactor against how many breaking changes it might introduce.

Personally, I have little experience with running C# applications in a webserver environment, so hopefully you can educate me. If the EasyPost API client library were instance-based rat

[2022-03-08 20:38] Justintime50 commented on #125
The constructor was corrected in #158. It should also be noted that the way in which this library is written does not allow for thread-safe multi-API key usage (see #98). We are considering a refactor that may allow for this; however, it won't be in the immediate future.

[2022-03-08 20:38] #125 closed

[2022-03-08 21:00] nwithan8 commented on #151
@chargerback-ron I think Visual Basic is getting caught up because there is a static `Create` method (i.e. `Address.Create(parameters)` and a non-static `Create` method (i.e. `myAddress.Create()`). Looking at your code snippet, you're trying to call the non-static one on the `FromAddress` object, but Visual Basic for some reason is still getting confused. I did some searching around, figuring it m

[2022-03-08 21:23] nwithan8 commented on #152
@TGKN it seems like there was an issue while deserializing the API's JSON response into an object (either a Shipment object or, since you say it only occurred a few times, an Error object after an API error). Unfortunately, we are unable to reproduce the error in our testing on our end, and without any sample data from you, we can't tell what property might be causing the issue (or if this issue h

[2022-03-08 21:57] chargerback-ron commented on #151
@nwithan8 This [link](https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/procedures/procedure-overloading) from MSDN specifies the rules for overloading functions in VB.Net. I suspect this may be the issue.

**Items Not Part of Signature**. You cannot overload a procedure without varying the signature. In particular, you cannot overload a procedure by varying

[2022-03-08 22:12] nwithan8 commented on #150
I'm looking into this now. Just to clarify, that Gateway Timeout error was thrown as part of the `NullReferenceException`? I ask because the `NullReferenceException` was thrown by the `Merge()` function, which is supposed to take the response data-deserialized-object and merge it with the existing local object. If the API returned an error, an incorrect object could be accidentally passed into tha

[2022-03-09 07:48] TGKN commented on #98
Hi,
Yes that would help. I can see 2 ways you can achieve this, unfortunately both introduce breaking changes.
1. Get rid of all static methods and let the consumer of your code work on an instance of the easypost client which is initialized once with an API key. This is the cleanest solution but introduces a lot of (breaking) changes
2. Add the API key to every method that triggers a call towards

[2022-03-09 07:52] TGKN commented on #152
Hi,
As stated this error comes up irregularly and, of course, never came up in our development or staging system - only in production. Since we do not log all of our customers requests towards easypost in production (also due to data privacy) I can't really give you any further details on this one I am afraid.

[2022-03-09 17:37] nwithan8 commented on #152
@TGKN what version of the EasyPost library are you using that still produces this error?

[2022-03-09 19:52] nwithan8 commented on #98
I completely agree, thank you for your input. We are discussing the first idea, removing the static methods and shifting to an instance-based API client. We'll keep you updated.

[2022-03-10 07:53] TGKN commented on #152
Hi,
I am not using any specific version. Due to the changes I had to make because of this (https://github.com/EasyPost/easypost-csharp/issues/98#issuecomment-1063302175) I am currently working on the tip revision fromfebruary last year...
Do you think updating to the latest revision will solve the issue? I saw you guys updated the Newtonsoft library....

[2022-03-11 13:18] overforkover77 commented on #150
I had noticed that when we experienced the `NullReferenceException` the response from the API was always the 'Gateway Timeout'.

@nwithan8 I believe we were using 2.8.1 at the time.  We are now on 2.8.2.

I have not seen the issue since posting this issue, however we have since moved from 'test' to 'production', so that may be a factor as well.

[2022-03-11 15:05] nwithan8 commented on #152
We are working on a major v3.0.0 release soon, which I would advise updating to. I have been unable to reproduce the error in v3.0.0, so hopefully it has been indirectly fixed as part of our enhancements.

[2022-03-11 15:07] nwithan8 commented on #150
@overforkover77 Thank you for that information. We are continuing to triage this.

[2022-04-05 14:46] tecleadergovnow opened #245 "Add support async api call"
Nuget latest version not support async operations

[2022-04-05 17:44] tecleadergovnow commented on #245
Yes I will be attentive, later I reviewed the code in the repository and I realized that it is already implemented asynchronously. I assumed they were already when launching this new feature. Thanks.

[2022-04-15 19:18] Justintime50 commented on #245
v3.0.0 is now released and completely async! Let us know if you have anymore questions.

[2022-04-15 19:18] #245 closed

[2022-04-15 19:21] nwithan8 commented on #152
v3.0.0 is now out, please upgrade and try it out.

[2022-04-15 19:21] #152 closed

[2022-04-15 19:22] nwithan8 commented on #151
v3.0.0 is out with Visual Basic and F# compatibility.

[2022-04-15 19:22] #151 closed

[2022-04-15 19:32] nwithan8 commented on #150
@overforkover77 v3.0.0 is now out with a lot of changes. I was unable to reproduce this error in v3.0.0. Could you please verify if you are still experiencing this this issue in the latest version? Closing for now.

[2022-04-15 19:32] #150 closed

[2022-04-21 08:03] declan-m opened #259 "[Bug]: No longer can you create Addresses using the class"
### Software Version

3

### Language Version

.NET 6

### Operating System

Windows 11

### What happened?

It use to be easier to create address,orders etc.

Old way:

[code]

New Way:

[code]

### What was expected?

With upgrade I expected old way to work but asyncronus

### Sample Code

_No response_

### Relevant logs

_No response_

[2022-04-21 15:58] Justintime50 commented on #259
Hey @declan-m, per our upgrade guide, this is no longer possible: https://github.com/EasyPost/easypost-csharp/blob/master/UPGRADE_GUIDE.md#30-removes-non-static-create-functions. This functionality was removed so we could ensure Visual Basic compatibility and is not a standard way to use this library (it was only possible on a few of our objects vs all of them). If you rely on this functionality,

[2022-05-23 17:10] declan-m opened #270 "3.1 Breaking Changes"
in 3.0 you use to be able to create your own classes of the api calls `new Address()`, `new Shipment()` etc. and before creation call `.AsDictionary();` at it would generate the right Dict for it. As of 3.1 this doesn't work.

[code]

The dictionary produces is really small and random

Example Console App. If you debug the variable `t` you will see it only contains the fields that are null
[code]

[2022-05-23 17:15] nwithan8 commented on #270
As of version 3.0.0, this is no longer the correct way of creating an Address. Instead, you need to pass in a dictionary of parameters to the `Address.Create()` method. Please refer to the upgrade guide entry [here](https://github.com/EasyPost/easypost-csharp/blob/master/UPGRADE_GUIDE.md#30-removes-non-static-create-functions).

[2022-05-24 08:01] declan-m commented on #270
Why is it changing to Dictionaries for everything? It makes everything so unreadable having massive structs written in Dictionaries rather than using classes. You know exactly what variables exist within the API so it makes next to no sense to not use them.

[2022-05-24 17:59] nwithan8 commented on #270
In order to ensure that local objects are as synced as possible with server-side objects, we have structured the workflow in such a way that an end-user sends data to the API to create a server-side entry, and then receives a local copy of that server-side object, ensuring that data is created server-side first. As a result, we discourage end users from creating, i.e. an `Address` instance in any

[2022-05-24 19:43] Justintime50 opened #272 "Swap Update Brand, Carrier, User, and Webhook Endpoints to use PATCH HTTP Method"
The `update brand`, `update carrier account`, `update user`, and `update webhook` endpoints/functions are supposed to use the `PATCH` HTTP method and not `PUT`. We should swap these endpoints in the lib from `PUT` to `PATCH`. As a part of this process, please re-record those four cassettes to ensure this continues to work.

[2022-05-25 00:14] nwithan8 commented on #272
PUT is used in more than just those two places, per the screenshot below. Do we need to make the switch in these functions as well?
<img width="899" alt="image" src="https://user-images.githubusercontent.com/17054780/170152095-156f392d-5a38-4c04-aa84-c6223aaf0c2a.png">

[2022-05-25 15:10] Justintime50 commented on #272
Thanks for the callout @nwithan8, I'll check with other to see if we needed to update those too. EndShipper will definitely remain PUT, but webhooks and user brands may also switch.

[2022-05-25 16:31] ryannguyen16 commented on #272
I will look into this.

[2022-05-27 19:01] Justintime50 commented on #272
@nwithan8 per your callout and checking internally with stakeholders and additional testing, updating a webhook and updating a brand should also be PATCH and will be updated as a part of this process.

[2022-06-02 19:52] #270 closed

[2022-06-05 09:12] nwithan8 commented on #157
Thank you for reporting this, and apologies for the late reply.

Newer versions of our client library no longer use RestSharp's `response.Data` to deserialize JSON data, which, by extension, patches this issue.

If you have not already, we highly recommend upgrading to the latest version of this library.

I'm going to close this issue. Please report if this remains an issue.

[2022-06-05 09:12] #157 closed

[2022-06-13 15:40] #272 closed, assigned to ryannguyen16

[2022-08-17 21:45] chadwixk opened #315 "Add duty_payment object"
### Feature Request Is New

- [X] I have verified that the requested feature does not already exist or has not already been requested.

### Description of the feature

Add support in this library for the options > duty_payment object as referenced by EasyPost support:
<img width="600" alt="image" src="https://user-images.githubusercontent.com/5115308/185248705-0d5a5f10-54cc-4ed2-8cdd-ffd6c8d5fead.

[2022-08-17 21:49] nwithan8 commented on #315
Thank you for your suggestion. The `duty_payment` option is not documented in our [public API docs](https://www.easypost.com/docs/api#options), but it appears this is a valid option. I will reach out to discuss updating our available options as needed.

[2022-08-17 22:06] nwithan8 commented on #102
@Godd67 I am exploring the scope of the work for this. It seems fairly trivial. Is this still a requirement?

[2022-08-23 23:13] nwithan8 commented on #315
A fix is underway and will be included in the next release of the library.

[2022-08-24 17:47] #315 closed

[2022-08-24 22:23] chadwixk commented on #315
@nwithan8 great! Thank you. Any idea when the next release will be pushed out?

[2022-08-24 22:25] nwithan8 commented on #315
Tomorrow, most likely.

[2022-09-29 17:55] chadwixk opened #347 "DeliveredDutyPaid vs Incoterm?"
Hello,

Just wondering how these play together. I'm assuming you originally had `DeliveredDutyPaid` (which is just one type of incoterm), then later expanded support for a full set of incoterms and added `incoterm`. `DeliveredDutyPaid` is also now not listed on the docs, so assuming it has been deprecated and replaced by incoterms? Is this correct?

We have programming logic around `DeliveryDutyPa

[2022-09-29 20:41] Justintime50 commented on #347
Hey @chadwixk,

You are correct, the current option is to send `"incoterm": "DDP"`. By leaving `incoterm` empty, you're essentially setting it to `false`.

For additional details on setting `incoterm`, you can search for it under [Shipment options](https://www.easypost.com/docs/api#options) on our docs or reach out to our awesome support team via support@easypost.com.

[2022-09-29 20:41] #347 closed

[2022-10-03 19:00] Justintime50 commented on #98
We have released the `v4` release candidate of this library which is thread-safe by having an isolated `Client` object. Each client object requires an API key and HTTP calls are made against this client ensuring that the API key is always tied to the correct requests, even across threads. We'd love your feedback on the release candidate if you are able. We plan to release the final `v4` release wi

[2022-10-03 19:00] #98 closed

[2022-10-12 20:57] nwithan8 commented on #125
As of [v4.0.0](https://github.com/EasyPost/easypost-csharp/releases/tag/v4.0.0), this library is instance-based and considered thread-safe.

[2022-10-12 20:58] nwithan8 commented on #98
[v4.0.0](https://github.com/EasyPost/easypost-csharp/releases/tag/v4.0.0) of this library is officially released, making the library instance-based and thread-safe.

[2022-11-01 22:22] datelcry opened #365 "Add Ability to Register Carriers with Custom Flows"
### Feature Request Is New

- [X] I have verified that the requested feature does not already exist or has not already been requested.

### Description of the feature

Hello EasyPost team!

There is a request for a little but valuable improvement of CarrierAccountService.cs

The implementation of custom flows of registering carriers like Fedex/UPS requires us to write own code to reach your API en

[2022-11-26 05:16] nwithan8 opened #377 "Add equality overload for comparison of EasyPostObject and dictionary"
Per https://github.com/nopSolutions/nopCommerce/issues/6424#issuecomment-1327729733

[2022-11-26 08:21] Justintime50 commented on #377
Let's name this issue appropriately.